ul{
    list-style: none;
}

ul li 
{
    display: inline-block;
    padding: 22px;
}

a
{
    text-decoration: none;
    color: rgb(192, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.contenedor{
    background-color: rgba(7, 7, 7, 0.815);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

nav
{ 
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img
{
    max-width: 315px;
    max-height: 317px;
    
}

.imagen{
    margin-left: 20%;
    margin-right: 20%;
    padding: 22px;
    text-align: center;

}

.formulario{
    background-color: rgba(255, 255, 255, 0.925);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.Listar{
    background-color: rgba(255, 255, 255, 0.925);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.editar{
    background-color: rgba(255, 255, 255, 0.925);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}